<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->



<div #divSideBar class="sidebar close">
  <div class="logo-details">
    <i > W</i>
    <!-- <i class="fas fa-bars" (click)="divSideBar.classList.toggle('close')"></i> -->
    <!-- <i class='bx bx-menu' (click)="divSideBar.classList.toggle('close')" ></i> -->
    <span class="logo_name">Web Portal</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt' ></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#"> Dashboard</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="company">
        <i class="far fa-building"></i>
        <span class="link_name" >Company</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="company">Company</a></li>
      </ul>
    </li>
    <li #categorySubMenu>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection' ></i>
          <span class="link_name">Company</span>
        </a>
        <i class='bx bxs-chevron-down arrow' (click)="categorySubMenu.classList.toggle('showMenu')"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Company</a></li>
        <li><a href="#">Departments</a></li>
        <li><a href="#">Employees</a></li>
        <li><a href="#">Logins</a></li>
      </ul>
    </li>
    <li #postsSubMenu>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Requests</span>
        </a>
        <i class='bx bxs-chevron-down arrow' (click)="postsSubMenu.classList.toggle('showMenu')"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Requests</a></li>
        <li><a href="#">Attendance</a></li>
        <li><a href="#">Holiday</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2' ></i>
        <span class="link_name">Appraisal</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Appraisal</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-line-chart' ></i>
        <span class="link_name">Inventory</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Inventory</a></li>
      </ul>
    </li>
    <li #pluginsSubMenu>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Employee Inventory</span>
        </a>
        <i class='bx bxs-chevron-down arrow' (click)="pluginsSubMenu.classList.toggle('showMenu')"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Inventory History</a></li>
        <li><a href="#">Assigned Inventory</a></li>
        <li><a href="#">Inventory Request</a></li>
        <li><a href="#">Future Inventory</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-compass' ></i>
        <span class="link_name">Attendance Monitor</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Attendance Monitor</a></li>
      </ul>
    </li>
    <!-- <li>
      <a href="#">
        <i class='bx bx-history'></i>
        <span class="link_name">History</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">History</a></li>
      </ul>
    </li> -->
    <li>
      <a href="#">
        <i class='bx bx-cog' ></i>
        <span class="link_name">Settings</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Settings</a></li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <img src="../assets/images/download.png" >
        </div>
        <div class="name-job">
          <div class="profile_name">UnKnown</div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' (click)="divSideBar.classList.toggle('close')" ></i>
    <!-- <span class="text">Portal</span>  -->
  </div>
  <div>

    <!-- <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
</section>